ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  display: block;
  margin: 0 0 10px 0;
}
p:last-child {
  margin-bottom: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* border: 1px solid; */
  width: 320px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.description {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
}
.avatar {
  margin-bottom: 0;
  border-radius: 50%;
  background-color: aqua;
  width: 150px;
}
.stats {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightcyan;
  justify-content: space-around;
  margin-top: 50px;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-right: 2px solid lightslategray;
}
.statsItem:last-child {
  border-right: none;
}
.quantity {
  font-size: 16px;
  font-weight: 700;
}
.name {
  font-size: 24px;
  font-weight: 700;
}
